.content-view {

    &__content {
        width: 600px;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../img/overlays/paper-texture--light.jpg);
        color: black;
        text-align: center;

        &--narrow {
            width: 450px;
        }
    }

    &__poem {
        white-space: pre-line;
        display: inline-block;
        text-align: left;
    }

}
