.intro {
    background-image: url('../img/overlays/pessoa-main.jpg');
    background-attachment: fixed;
    //filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;

    &__logo {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__title {
        padding-top: 50px;
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }

    &__decor1 {
        position: absolute;
        top: 0;
        left: 50%;
    }

    &__decor2 {
        position: absolute;
        top: 80px;
        left: 50%;
    }

    &__title-section {
        padding-top: 30px;
        padding-bottom: 30px;
        box-sizing: border-box;
        min-height: 700px;
        min-height: 100vh;
    }

}
