// viewports
$screen-sm: 599px;
$screen-md: 1023px;
$screen-wide: 1280px;



@mixin adaptive($point) {

    $adaptive-sm: '(max-width: ' + $screen-sm + ')';
    $adaptive-md: '(max-width: ' + $screen-md + ')';
    $adaptive-wide: '(min-width: ' + $screen-wide + ')';

    @if $point == sm {
        @media #{$adaptive-sm} {
            @content;
        }
    } @else if $point == md {
        @media #{$adaptive-md} {
            @content;
        }
    }
    @else if $point == wide {
        @media #{$adaptive-wide} {
            @content;
        }
    }
}



@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}
