// img path
$img-path: '../img/';

// default
$color-default--white: #fff;
$color-default--black: #000;

// bg
$color-bg--primary: #f2f2f2;
$color-bg--additional--blue: #1351bc;

// text
$color-text--primary: #000;
$color-text--additional--blue: #1351bc;

// border
$color-border--primary: #e1e1e1;
$color-border--additional--blue: #1351bc;
