extends ./../layouts/layout

include ./../common/header

block content
  div.intro.page
    div.page__hamburger-wrap
      include ./../common/hamburger
    //img.intro__decor1(src="img/elems/mystery-wheel.png")
    //img.intro__decor2(src="img/elems/mystery-wheel-2.png")
    include ./../common/menu
    main.page__content
      section.intro__title-section
        div.content-section
          h2.intro__title.title.title--align-right
            span.title__principal Fernando Pessoa
            span.title__additional o poeto

      section.intro__view-section.content-view
        div.content-section
          div.content-view__content.content-view__content--narrow
            p.content-view__poem.
              Коль мир наш - огромная ложь,<br>
              Ложь - весь мир, как его ни кличь.<br>
              Попробуй: ничто уничтожь,<br>
              Сумей-ка: ничто возвеличь.<br>
              <br>
              Колдую над выдумкой зыбкой,<br>
              Удастся, когда удала.<br>
              Я выберу ту, что с улыбкой,<br>
              Иль вымыслю, чтобы была.<br>
              <br>
              Умение в жизни настелет<br>
              Нам соломки - и падать краше,<br>
              Завянет цветок и на стебле,<br>
              И в петлице завянет нашей.<br>
              <br>
              А ценность превыше цены,<br>
              Ей не надо иных прикрас,<br>
              Но - выполнить то, что должны,<br>
              Обойдясь без трескучих фраз.<br>

    div.page__audio.audio
      audio.page__player(loop="loop" preload="auto")
        source(src="audio/Pedro-caldeira-cabral__Improvisacao-sobre-a-fado-lopes.mp3" type="audio/mp3")
        source(src="audio/Pedro-caldeira-cabral__Improvisacao-sobre-a-fado-lopes.ogg" type="audio/ogg")
      button.page__play-btn(type="button")



include ./../common/footer
