extends ./../layouts/layout

include ./../common/header

block content
  div.intro.page
    div.page__hamburger-wrap
      include ./../common/hamburger
    //img.intro__decor1(src="img/elems/mystery-wheel.png")
    //img.intro__decor2(src="img/elems/mystery-wheel-2.png")
    include ./../common/menu
    main.page__content
      section.intro__title-section
        div.content-section
          h1.logo.intro__logo
            span.visuallyhidden.
              Фернанду Пессоа
            img.logo__img(src="/img/elems/pessoa-signature.png" width="328" height="94" alt="Френанду Пессоа, подпись")
          h2.intro__title.title.title--align-right
            span.title__principal Fernando Pessoa
            span.title__additional o poeto

      section.intro__view-section.content-view
        div.content-section
          div.content-view__content.content-view__content--narrow
            p.content-view__poem.
              Коль мир наш - огромная ложь,
              Ложь - весь мир, как его ни кличь.
              Попробуй: ничто уничтожь,
              Сумей-ка: ничто возвеличь.

              Колдую над выдумкой зыбкой,
              Удастся, когда удала.
              Я выберу ту, что с улыбкой,
              Иль вымыслю, чтобы была.

              Умение в жизни настелет
              Нам соломки - и падать краше,
              Завянет цветок и на стебле,
              И в петлице завянет нашей.

              А ценность превыше цены,
              Ей не надо иных прикрас,
              Но - выполнить то, что должны,
              Обойдясь без трескучих фраз.


              Коль мир наш - огромная ложь,
              Ложь - весь мир, как его ни кличь.
              Попробуй: ничто уничтожь,
              Сумей-ка: ничто возвеличь.

              Колдую над выдумкой зыбкой,
              Удастся, когда удала.
              Я выберу ту, что с улыбкой,
              Иль вымыслю, чтобы была.

              Умение в жизни настелет
              Нам соломки - и падать краше,
              Завянет цветок и на стебле,
              И в петлице завянет нашей.

              А ценность превыше цены,
              Ей не надо иных прикрас,
              Но - выполнить то, что должны,
              Обойдясь без трескучих фраз.

              Коль мир наш - огромная ложь,
              Ложь - весь мир, как его ни кличь.
              Попробуй: ничто уничтожь,
              Сумей-ка: ничто возвеличь.

              Колдую над выдумкой зыбкой,
              Удастся, когда удала.
              Я выберу ту, что с улыбкой,
              Иль вымыслю, чтобы была.

              Умение в жизни настелет
              Нам соломки - и падать краше,
              Завянет цветок и на стебле,
              И в петлице завянет нашей.

              А ценность превыше цены,
              Ей не надо иных прикрас,
              Но - выполнить то, что должны,
              Обойдясь без трескучих фраз.



include ./../common/footer
