extends ./../layouts/layout

include ./../common/header

block content
  div.intro
    div.content-section
      h1.logo.intro__logo
        span.visuallyhidden.
          Фернанду Пессоа
        img.logo__img(src="/img/elems/pessoa-signature.png" width="328" height="94" alt="Френанду Пессоа, подпись")
      h1.intro__title Fernando Pessoa



include ./../common/footer
