extends ./../layouts/layout

include ./../common/header

block content
  div.intro.page
    div.page__hamburger-wrap
      include ./../common/hamburger
    //img.intro__decor1(src="img/elems/mystery-wheel.png")
    //img.intro__decor2(src="img/elems/mystery-wheel-2.png")
    include ./../common/menu
    main.page__content
      div.content-section
        h1.logo.intro__logo
          span.visuallyhidden.
            Фернанду Пессоа
          img.logo__img(src="/img/elems/pessoa-signature.png" width="328" height="94" alt="Френанду Пессоа, подпись")
        div.intro__title-wrap
          h2.intro__title.title.title--align-right
            span.title__principal Fernando Pessoa
            span.title__additional o poeto



include ./../common/footer
