aside.page__sidebar.sidebar.js-sidebar
  div.sidebar__overlay
  button.sidebar__open-btn.js-sidebar-show-btn(type="button")
    svg.sidebar__open-icon.js-sidebar-show-btn
      use(xlink:href="#left-arrow")

  h1.logo.sidebar__logo
    span.visuallyhidden.
      Фернанду Пессоа
    img.logo__img(src="/img/elems/pessoa-signature.png" width="328" height="94" alt="Френанду Пессоа, подпись")

  nav.menu.sidebar__menu
    ul.menu__list
      li.menu__item
        a.menu__link(href="#") Биография
      li.menu__item
        a.menu__link(href="#") Поэзия
      li.menu__item
        a.menu__link(href="#") Гетеронимы
